{{#link-to 'index'}}<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to list{{/link-to}}<br/>
<div class="image_container col-sm-6 col-xs-12" style="text-align: center">
  <img src="{{model.image}}" style="max-width: 100%" data-image-id="{{model.id}}">
</div>
<div class="product_container col-sm-6 col-xs-12">
  <h2 data-product-id="{{model.id}}">{{model.name}}</h2>
  <span class="product_price" style="color: #cc2525;">
    Only ${{model.price}}
  </span>
  <br/>
  {{model.description}}
  <br/>
  <button class="btn btn-primary" {{action 'addToCart' model}}>Buy</button>
</div>
