{{#unless session.isAuthenticated}}
  <div class="col-xs-12">
    <div class="centered hidden-xs hidden-sm">OR</div>
    <div class="col-md-6 col-sm-12">
      <h4>Login</h4>
      {{#if session.loginError}}
        <ul class="text-danger col-xs-12">
          <li class="pull-right">{{session.loginError}}</li>
        </ul>
      {{/if}}
      {{x-input field_name='username' value=username}}
      {{x-input field_name='password' value=password type='password'}}
      <button class="pull-right btn btn-primary" {{action 'login' username password}}>
        Log in
      </button>
    </div>
    <div class="clearfix hidden-md hidden-lg"></div>
    <div class="centered hidden-md hidden-lg">OR</div>
    <div class="col-md-6 col-sm12">
      <h4>Register</h4>
      {{#if (and session.registrationError session.registrationError.non_field_errors)}}
        <ul class="text-danger col-xs-12">
          {{#each session.registartionError.non_field_errors as |error|}}
            <li class="pull-right">{{error}}</li>
          {{/each}}
        </ul>
      {{/if}}
      {{x-input field_name='username' value=register_username
        errors=session.registrationError}}
      {{x-input field_name='email' value=email type='email'}}
      {{x-input field_name='first name' value=first_name}}
      {{x-input field_name='last name' value=last_name}}
      {{x-input field_name='password' value=register_password type='password'
        errors=session.registrationError}}
      {{x-input field_name='password confirmation' value=password_confirmation
        type='password' errors=session.registrationError}}
      <button class="pull-right btn btn-primary">Register</button>
    </div>
  </div>
  <div class="clearfix"></div><br/>
{{/unless}}
{{yield}}
