& {
  .product {
    padding: 30px;
    h2 a {
      color: $text-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .product_image {
      width: 100%;
      text-align: center;
      img {
        max-width: 100%;
      }
  }
  .product_price {
    color: #cc2525;
  }
}
