<div class="col-xs-12 input-group">
  <input class="form-control"
    value="{{searchTerm}}"
    onChange={{action (mut searchTerm)
      value='target.value'}}>
  <span class="input-group-addon">
    <i class="fa fa-search"></i>
  </span>
</div>
{{#each filteredProducts as |product|}}
  <div class="col-lg-4 col-sm-6 col-xs-12 product">
    <div class="material-card">
      <h2 data-product-id="{{product.id}}">
        {{#link-to 'product' product.id}}{{product.name}}{{/link-to}}
      </h2>
      <br/>
      <div class="product_image">
        <img src="{{product.image}}" data-image-id="{{product.id}}">
      </div>
      <br/>
      <span class="product_price">
        Only ${{product.price}}
      </span>
    </div>
  </div>
{{/each}}
