& {
  a {
    color: $text-color;
  }
  margin: $grid-gutter-width / 2;
  display: flex;
  flex-direction: row;
  > span.badge {
    align-self: flex-start;
    background-color: $brand-warning;
    margin-left: - $grid-gutter-width / 4;
  }
}
