<div class="form-group {{if has_error 'has_error'}}">
  <label for="{{slugify field_name}}" class="col-sm-3 control-label">{{titlize field_name}}</label>
  <div class="col-sm-9">
    <input type={{type}} class="form-control" id="{{slugify field_name}}"
      onChange={{action (mut value) value='target.value'}}
      value={{value}}
    >
  </div>
  {{#if has_error}}
    <ul class="text-danger col-xs-12">
      {{#each (get errors field_name) as |error|}}
        <li class="pull-right">{{error}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
