<ul class="categories_wrapper col-md-2 col-sm-4 col-xs-12">
  <li>{{#link-to 'index'}}All categories{{/link-to}}</li>
  {{#each model as |category|}}
    <li>
      {{#link-to 'index.category' category.id}}
        {{category.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<div class="products_wrapper col-md-10 col-sm-8 col-xs-12">
  {{liquid-outlet}}
</div>
