<h2>Checkout</h2>              
{{#if model.count}}            
  <form class="form-horizontal">  
    <h3>Personal information</h3>   
    {{#login-or-register 
      authenticate=(route-action 'authenticate')
      register=(route-action 'register')
      as |lor|
    }}
      {{x-input field_name='phone' value=phone type='phone'}}
      <div class="form-group">
        <div class="pull-left">
          <a class="btn btn-default" href="{{href-to 'basket'}}">Cancel</a>
        </div>
        <div class="pull-right">
          <button 
            class="btn btn-primary" 
            {{action 'saveOrder' phone}}
            disabled={{not lor.session.isAuthenticated}}
          >
            Order
          </button>
        </div>
      </div>
    {{/login-or-register}}
  </form>
{{else}}
  <div class="alert alert-warning">
    <i class="fa fa-warning"></i> Your basket is empty
  </div>
{{/if}}
