<h2>Your basket</h2>           
        
{{# if model.count}}            
  <div class="table-responsive">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">Item</th><th>Qty</th><th>Ttl price</th><th></th>
        </tr>
      </thead>                 
      <tbody>
        {{#each model.items as |item|}}  
          <tr>
            <td class="tn-col">
              <img src="{{item.product.image}}">
            </td>
            <td>{{item.product.name}}</td>  
            <td class="qty-col">{{item.qty}}</td>
            <td class="price-col">
              {{number-format
                (mult item.product.price item.qty)
                decimals=2
              }}
            </td>
            <td>
              <a {{action 'removeFromCart' item}}>
                <i class="text-danger fa fa-remove"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>                   
          <th colspan="3">Total</th>      
          <th class="price-col" colspan="2">$ {{number-format model.total decimals=2}}</th>    
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="pull-right">        
    <a class="btn btn-primary" href="{{href-to 'order'}}">Confirm</a>
  </div>
{{else}}
  <div class="alert alert-warning">
    <i class="fa fa-warning"></i>
     Your basket is empty
  </div>
{{/if}}
