/** Mandatory variables **/
$white:                              #ECEFF1;
$black:                              #263238;
$fa-font-path:                       "../assets/fonts/fontawesome";
$icon-font-path:                     "../assets/fonts/bootstrap/";
$screen-xxs:                         360px;
$screen-xxxs:                        280px;

@import "variables";
@import "bootstrap/variables";
@import "material";
@import "bootstrap";
@import "fontawesome";
@import "mixins";
@import "site";
@import "../basket/styles";
@import "pod-styles";

